page-home {
 .icon{
   height: 40%;
   width: 40%;
 }
  #map {
    height: 200px;
  }
  #map2{
    height: 200px;
  }
  #main_list_image {
    max-height: 200px;
  }

  .card-home-last{
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .map-ion-card{
    width:100%;
    margin: 0;
    margin-bottom: 25px;
    position: relative;
  }

}

