page-home {
 .icon{
   height: 50%;
 }
  #map {
    height: 200px;
  }
  #main_list_image {
    max-height: 200px;
  }
  ion-content{
    background-image: url('https://wallpaperscraft.com/image/spots_background_light_blue_white_85546_1440x2560.jpg');
    background-size: cover;
  }

  .card-home-last{
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
